<%= render 'layouts/nav_only_brand' %>
<h1 class="ui center aligned header">Log In</h1>
<div class="ui centered stackable grid">
  <div class="four wide column">
    <% if flash[:alert] %>
    <div class="ui warning message">
      <i class="close icon"></i>
      <div class="header">
        <%= flash[:alert] %>
      </div>
    </div>
    <% end %>
    <%= form_tag sessions_path, :class => 'ui form' do %>
      <div class="field">
        <%= label_tag :email %>
        <%= email_field_tag :email, params[:email], :required => true %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="ui buttons">

        <%= submit_tag "Log In", :class => "ui green button" %>
        <div class="or" data-text="or"></div>
        <%= link_to 'Sign Up', signup_path, :class=>"ui button" %>

      </div>
    <% end %>
  </div>
</div>
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
