<%= render 'layouts/navbar' %>
<div class="ui stackable centered grid"

<% @restraunts.each do |restraunt| %>


    <div class="eight wide column">

        <div class="ui fluid raised card">
          <div class="image">
            <%= image_tag restraunt.image_url %>
          </div>
          <div class="content">
            <div class="header"><%= restraunt.title %></div>
            <%= restraunt.cuisine.cname %>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <%= link_to 'View Restraunt', restraunt_path(restraunt), :class=>"ui basic black button" %>
              <a href="tel:<%= restraunt.phone %>" class="ui basic green button">Phone Up</a>
            </div>
          </div>
          <div class="extra content">
              &#8377;<%= restraunt.cost %> for <%= restraunt.heads %> people.
          </div>
        </div>


    </div>
  <!-- <div class="restraunt">
    <div class="rest-img">

      <h3 class="rest-name"> <%= restraunt.title %> </h3>
      <h4 class="rest-type"> <%= restraunt.cuisine.cname %></h4>
      <h4 class="rest-rating"> 0.0 </h4>
    </div>
    <div class="rest-content">
      <div>
        <p><span class="rest-d">Cuisine:</span><%= restraunt.cuisine.cname %></p>
        <p><span class="rest-d">For <%= restraunt.heads %> people:</span>&#8377;<%= restraunt.cost %></p>
      </div>

      <%= link_to 'View Restraunt', restraunt_path(restraunt), :class=>"button" %>
      <a href="tel:<%= restraunt.phone %>" class="button btn-white">Phone Up</a>
    </div>
  </div> -->
<% end %>
