<%= render 'layouts/navalt' %>
<% if is_curator? %>
  <h1 class="ui center aligned header">Add a new restraunt</h1>
  <div class="ui centered stackable grid">
    <div class="four wide column">
      <%= form_for :restraunt, :html=>{:class=>"ui form"}, url: restraunts_path do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, :required => true %>
      </div>
      <div class="field">
        <%= f.label :cuisine %>
        <%= f.select :cuisine_id, options_for_select(Cuisine.all.map{|c|[c.cname, c.id]}) %>
      </div>
      <div class="field">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, :required => true%>
      </div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_area :address, :required => true %>
      </div>
      <div class="field">
        <%= f.label :cost %>
        <%= f.number_field :cost, :required => true %>
      </div>
      <div class="field">
        <%= f.label :heads %>
        <%= f.number_field :heads, :required => true %>
      </div>
      <div class="field">
        <%= f.label :image_url %>
        <%= f.text_field :image_url, :required => true %>
      </div>

      <%= f.submit :class=>"ui fluid button" %>

      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/become_curator' %>
<% end %>
