<%= render 'layouts/navbar' %>
<div class="ind-rest-container">
  <%= image_tag @restraunt.image_url %>

    <h1><%= @restraunt.title %></h1>
    <hr/>
  <section class="ind-rest-info">
    <div class="col">
      <p>
        <h2>Phone</h2>
        <%= @restraunt.phone %>
      </p>
      <p>
        <h2>Cuisine</h2>
        <%= @restraunt.cuisine.cname %>
      </p>

    </div>
    <div class="col">
      <p>
        <h2>Address</h2>
        <%= @restraunt.address %>
      </p>
      <p>
        <h2>Cost</h2>
        &#8377;<%= @restraunt.cost %> for <%= @restraunt.heads %> people.
      </p>
    </div>
  </section>
  <div class="comments">
    <% if logged_in? %>
      Comment
    <% else %>
      Sign in to comment
    <% end %>
  </div>

</div>
